pkgbase = mullvad-gui-slint
	pkgdesc = Native Slint frontend for the Mullvad VPN daemon
	pkgver = 0.1.0_alpha.1
	pkgrel = 1
	url = https://github.com/Greenstorm5417/Mullvad-Gui-Slint
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = rust
	depends = fontconfig
	depends = libxkbcommon
	optdepends = mullvad-vpn: official Mullvad daemon and VPN service
	source = mullvad-gui-slint-0.1.0_alpha.1.tar.gz::https://github.com/Greenstorm5417/Mullvad-Gui-Slint/archive/refs/tags/v0.1.0-alpha.1.tar.gz
	sha256sums = SKIP

pkgname = mullvad-gui-slint
