[Desktop Entry]
Type=Application
Name=Mullvad-Gui-Slint
GenericName=VPN client
Comment=Secure your connection with Mullvad VPN
Exec=mullvad-gui-slint
Icon=mullvad-gui-slint
Terminal=false
Categories=Network;
StartupNotify=true
StartupWMClass=mullvad-gui-slint
X-GNOME-UsesNotifications=true
Keywords=VPN;privacy;security;Mullvad;
